<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
	<parameter name="poolSize" value="10" />
	<test verbose="2" preserve-order="true" name="edobeeTest">
		<parameters>
			<parameter name="para" value="test para1" />
			<parameter name="para2" value="test para2" />
		</parameters>
		<classes>
			<class name="com.testNg.classTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
